:root {
 --container: 1440px;
 --Cyan: hsl(180, 66%, 49%);
 --DarkViolet: hsl(257, 27%, 26%);
 --Red: hsl(0, 87%, 67%);
 --Gray: hsl(0, 0%, 75%);
 --GrayishViolet: hsl(257, 7%, 63%);
 --VeryDarkBlue: hsl(255, 11%, 22%);
 --VeryDarkViolet: hsl(260, 8%, 14%);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--Gray);
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
    line-height: 70px;
}
p{
    line-height: initial;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--gray);
}
button {
    background: none;
    border: none;
    color: var(--Gray);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 25px;
    outline: none;
}

/* Hacks */
.main-content{
    width: 100%;
    max-width:  var(--container);
    margin: 0 auto;
}
.main-button{
    border-radius: 50px;
    background: var(--Cyan);
    color: white;
}
.main-button:hover{
    background: hsl(180, 84%, 69%);
}
/* ********/

/* Start Header */
header{
    position: relative;
    display: flex;
}
.logo h2{
    color: black;
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    transition: all 1s ease;
}
.container-header.show-menu{
    transform: translateY(55px);
    background: var(--DarkViolet);
    color: white;
    border-radius: 5px;
    opacity: 1;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    font-weight: 700;
}
.navbar li:hover a{
    color: black;
}
/* End Header  */

main{
    position: relative;
    overflow: hidden;

}

/* Hamburder Menu  */
.menu-hamburguer{
    display: none;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 0;

}
.menu-hamburguer span{
    height: 4px;
    display: block;
    width: 30px;
    margin: 5px 0;
    background: var(--Gray);
    transition: all  1s ;
}
.menu-hamburguer.open span:nth-child(1) {
    transform: rotate(38deg);
    transform-origin: left top;
}
.menu-hamburguer.open span:nth-child(2) {
    opacity: 0 ;
    transform: rotateY(180deg);
}
.menu-hamburguer.open span:nth-child(3) {
    transform: rotate(-38deg);
    transform-origin: left bottom;
}
/* End Hamburguer Menu */



/**** Main image  ****/
.img-hero{
    display: grid;
    grid-template-columns: 100% 1fr ;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
    overflow: hidden;
}
.text-left{
    width: 52%;
}
.text-left h1 {
    color: black;
    font-size: 66px;
}
.text-left p {
    font-size: 26px;
}
.text-left .main-button {
    margin-top: 25px;
    padding: 12px 38px;
    font-size: 25px;
}
.right-img img{
    position: absolute;
    right: -40px;
}

.input-short{
    grid-row: 3;
    background: url(../img/bg-shorten-desktop.svg) var(--DarkViolet);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-short input{
    width: 83%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 0 13px;

}
.input-short .main-button{
    height: 45px;
    border-radius: 8px;
}

/* advanced statistics */
.advanced-statistics{
    background: hsla(0, 0%, 74.9%, 0.14);
    margin-top: -70px;
}

.advanced-tittle{
    max-width: 500px;
    margin: 0 auto 80px auto;
    text-align: center;
}

.advanced-tittle h2 {
    color: black;
    font-size: 45px;
}
.advanced-tittle p {
    color: var(--Gray);
}
.container-statistics{
    padding: 150px 0;
}
.statistics-card{
    display: flex;
    justify-content: space-between;
    
}

.statistics-card .card{
    box-shadow: 1px 1px 14px 1px rgb(84 84 84 / 10%);
    border-radius: 5px;
    padding: 35px;
    flex-basis: calc( 33% - 5.5rem);
    position: relative;
}

.statistics-card .card:nth-child(2){
    top: 42px;
}
.statistics-card .card:nth-child(3){
    top: 84px;
}
.statistics-card .img-card{
    background: var(--VeryDarkBlue);
    max-width: 56px;
    text-align: center;
    padding: 20px;
    border-radius: 100%;
}

.statistics-card h3{
    color: black;
}
.pre-footer{
    background: url(../img/bg-boost-desktop.svg) var(--DarkViolet);
    text-align: center;
    background-size: cover;
    padding: 57px;
}
.pre-footer p{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.pre-footer .main-button{
    padding: 15px 30px;
    font-size: 22px;
    margin-top: 30px;
}

footer{
    background: var(--VeryDarkViolet);
}

.main-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0 ;
}
.main-footer h3{
    color: white;
    font-size: 45px;
}
.container-features{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 62%;
    flex-wrap: wrap;
}
.container-features li:hover{
    color: var(--Cyan);
}

.container-features li:nth-child(1){
    color: white;
}
.container-features li:nth-child(1):hover{
    color: var(--Cyan);
}

.footer-networs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 200px;
    width: 100%;
}

@media(max-width: 1260px){
    .img-hero{
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }
    .text-left{
        width: 100%;
    }
    .text-left .main-button{
        margin-top: 60px;
        padding: 29px 62px;
        font-size: 29px;
    }
    .right-img img{
        position: initial;
        margin-bottom: 70px;
    }

}



/* Header Menu mobile */
@media(max-width: 768px  ){
    .logo{
        position: absolute;
        left: 0;
    }
    .container-header, .navbar, .navbar ul{
        flex-direction: column;
        align-items: center;
    }
    .container-header{
        opacity: 0;
        transform: translateY(-175px);
        background: var(--DarkViolet);
        padding: 20px ;
    }
    .navbar ul,
    .navbar li {
        margin: 0;
        padding: 0
    }
    .login button{
        display: block;
        color: white;
    }

    .menu-hamburguer{
        display: block;
    }

    .login{
        width: 100% ;
        margin-top: 20px;
        border-top: 1px solid #ffffff24;
    }
    .login button{
        width: 100%;
        padding: 13px;
    }
}

/* End  Header Menu mobile */
